<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="row">
        <div class="form-group col-md-6">
          <label>Nome</label>
          <input type="text" class="form-control"
          formControlName="name" placeholder="Nome" [(ngModel)]="pokemon.name">
        </div>

        <div class="form-group col-md-6">
          <label>Detalhes</label>
          <input type="text" class="form-control"
          formControlName="description" placeholder="Detalhes" [(ngModel)]="pokemon.description">
        </div>

        <div class="form-group col-md-6">
          <label>Tipo</label>
          <input type="text" class="form-control"
          formControlName="type" placeholder="Tipo" [(ngModel)]="pokemon.type">
        </div>

      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto border" (click)="resetForm()">
          Cancelar
        </button>
        <button class="btn btn-success" [disabled]="!form.valid"  (click)="save()">
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
